h3#div4Corrupted_Gem Divination for Corrupted Gem
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Deathly Designs")}
    tr !{r.divination("Desecrated Virtue")}
    tr !{r.divination("Dialla's Subjugation")}
    tr !{r.divination("The Artist")}
    tr !{r.divination("The Bitter Blossom")}
    tr !{r.divination("The Bones")}
    tr !{r.divination("The Cataclysm")}
    tr !{r.divination("The Cheater")}
    tr !{r.divination("The Dragon's Heart")}
    tr !{r.divination("The Rite of Elements")}
    tr !{r.divination("The Skeleton")}
    tr !{r.divination("The Wilted Rose")}
    tr !{r.divination("Volatile Power")}
    tr !{r.divination("Wealth and Power")}


h3#div4Essence Divination for Essence
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Harmony of Souls")}
    tr !{r.divination("The Cacophony")}
    tr !{r.divination("Three Voices")}


h3#div4Gem Divination for Gem
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Deathly Designs")}
    tr !{r.divination("Desecrated Virtue")}
    tr !{r.divination("Dialla's Subjugation")}
    tr !{r.divination("Dying Anguish")}
    tr !{r.divination("Gemcutter's Promise")}
    tr !{r.divination("Gift of the Gemling Queen")}
    tr !{r.divination("Grave Knowledge")}
    tr !{r.divination("The Artist")}
    tr !{r.divination("The Bitter Blossom")}
    tr !{r.divination("The Bones")}
    tr !{r.divination("The Cataclysm")}
    tr !{r.divination("The Cheater")}
    tr !{r.divination("The Doppelganger")}
    tr !{r.divination("The Dragon's Heart")}
    tr !{r.divination("The Enlightened")}
    tr !{r.divination("The Fox")}
    tr !{r.divination("The Realm")}
    tr !{r.divination("The Rite of Elements")}
    tr !{r.divination("The Skeleton")}
    tr !{r.divination("The Summoner")}
    tr !{r.divination("The Wilted Rose")}
    tr !{r.divination("Volatile Power")}
    tr !{r.divination("Wealth and Power")}


h3#div4Influenced_Item Divination for Influenced Item
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("A Familiar Call")}
    tr !{r.divination("Draped in Dreams")}
    tr !{r.divination("Dying Light")}
    tr !{r.divination("Keeper's Corruption")}
    tr !{r.divination("Prometheus' Armoury")}
    tr !{r.divination("The Awakened")}
    tr !{r.divination("The Bear Woman")}


h3#div4Jewel Divination for Jewel
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Azyran's Reward")}
    tr !{r.divination("Peaceful Moments")}
    tr !{r.divination("Shard of Fate")}
    tr !{r.divination("The Endurance")}
    tr !{r.divination("The Eye of the Dragon")}
    tr !{r.divination("The Garish Power")}
    tr !{r.divination("The Mountain")}
    tr !{r.divination("The Primordial")}
    tr !{r.divination("The Unexpected Prize")}


h3#div4Scarab Divination for Scarab
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Buried Treasure")}
    tr !{r.divination("Cameria's Cut")}
    tr !{r.divination("More is Never Enough")}
    tr !{r.divination("The Deal")}


h3#div4Six-Linked_Item Divination for Six-Linked Item
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Bowyer's Dream")}
    tr !{r.divination("Draped in Dreams")}
    tr !{r.divination("Emperor of Purity")}
    tr !{r.divination("Humility")}
    tr !{r.divination("Imperial Legacy")}
    tr !{r.divination("Rebirth")}
    tr !{r.divination("The Celestial Justicar")}
    tr !{r.divination("The Chains that Bind")}
    tr !{r.divination("The Dapper Prodigy")}
    tr !{r.divination("The Dark Mage")}
    tr !{r.divination("The Ethereal")}
    tr !{r.divination("The Porcupine")}
    tr !{r.divination("The Sacrifice")}
    tr !{r.divination("The Warlord")}
    tr !{r.divination("The White Knight")}
    tr !{r.divination("Vanity")}


h3#div4Two-Implicit_Unique_Item Divination for Two-Implicit Unique Item
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Arrogance of the Vaal")}
    tr !{r.divination("Echoes of Love")}
    tr !{r.divination("Etched in Blood")}
    tr !{r.divination("Fateful Meeting")}
    tr !{r.divination("Gift of Asenath")}
    tr !{r.divination("Love Through Ice")}
    tr !{r.divination("The Astromancer")}
    tr !{r.divination("The Demon")}
    tr !{r.divination("The Greatest Intentions")}
    tr !{r.divination("The Gulf")}
    tr !{r.divination("The Hive of Knowledge")}
    tr !{r.divination("The Price of Loyalty")}
    tr !{r.divination("The Sustenance")}
    tr !{r.divination("Unchained")}


h3#div4Unique_Item Divination for Unique Item
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("A Dab of Ink")}
    tr !{r.divination("A Mother's Parting Gift")}
    tr !{r.divination("Alone in the Darkness")}
    tr !{r.divination("Anarchy's Price")}
    tr !{r.divination("Arrogance of the Vaal")}
    tr !{r.divination("Assassin's Favour")}
    tr !{r.divination("Atziri's Arsenal")}
    tr !{r.divination("Audacity")}
    tr !{r.divination("Azyran's Reward")}
    tr !{r.divination("Baited Expectations")}
    tr !{r.divination("Blind Venture")}
    tr !{r.divination("Boon of the First Ones")}
    tr !{r.divination("Brotherhood in Exile")}
    tr !{r.divination("Burning Blood")}
    tr !{r.divination("Council of Cats")}
    tr !{r.divination("Cursed Words")}
    tr !{r.divination("Dark Temptation")}
    tr !{r.divination("Death")}
    tr !{r.divination("Divine Justice")}
    tr !{r.divination("Doedre's Madness")}
    tr !{r.divination("Earth Drinker")}
    tr !{r.divination("Echoes of Love")}
    tr !{r.divination("Etched in Blood")}
    tr !{r.divination("Fateful Meeting")}
    tr !{r.divination("Forbidden Power")}
    tr !{r.divination("Gift of Asenath")}
    tr !{r.divination("Glimmer of Hope")}
    tr !{r.divination("Haunting Shadows")}
    tr !{r.divination("Heterochromia")}
    tr !{r.divination("Hope")}
    tr !{r.divination("Hubris")}
    tr !{r.divination("Humility")}
    tr !{r.divination("Hunter's Resolve")}
    tr !{r.divination("Hunter's Reward")}
    tr !{r.divination("Jack in the Box")}
    tr !{r.divination("Light and Truth")}
    tr !{r.divination("Love Through Ice")}
    tr !{r.divination("Lysah's Respite")}
    tr !{r.divination("Mawr Blaidd")}
    tr !{r.divination("Might is Right")}
    tr !{r.divination("Mitts")}
    tr !{r.divination("Peaceful Moments")}
    tr !{r.divination("Pride Before the Fall")}
    tr !{r.divination("Pride of the First Ones")}
    tr !{r.divination("Rats")}
    tr !{r.divination("Rebirth")}
    tr !{r.divination("Reckless Ambition")}
    tr !{r.divination("Remembrance")}
    tr !{r.divination("Scholar of the Seas")}
    tr !{r.divination("Squandered Prosperity")}
    tr !{r.divination("Succor of the Sinless")}
    tr !{r.divination("The Academic")}
    tr !{r.divination("The Admirer")}
    tr !{r.divination("The Aesthete")}
    tr !{r.divination("The Army of Blood")}
    tr !{r.divination("The Astromancer")}
    tr !{r.divination("The Avenger")}
    tr !{r.divination("The Battle Born")}
    tr !{r.divination("The Beast")}
    tr !{r.divination("The Betrayal")}
    tr !{r.divination("The Blazing Fire")}
    tr !{r.divination("The Body")}
    tr !{r.divination("The Breach")}
    tr !{r.divination("The Brittle Emperor")}
    tr !{r.divination("The Cache")}
    tr !{r.divination("The Calling")}
    tr !{r.divination("The Chosen")}
    tr !{r.divination("The Coming Storm")}
    tr !{r.divination("The Conduit")}
    tr !{r.divination("The Craving")}
    tr !{r.divination("The Cursed King")}
    tr !{r.divination("The Damned")}
    tr !{r.divination("The Darkest Dream")}
    tr !{r.divination("The Deceiver")}
    tr !{r.divination("The Deep Ones")}
    tr !{r.divination("The Demon")}
    tr !{r.divination("The Demoness")}
    tr !{r.divination("The Doctor")}
    tr !{r.divination("The Dragon")}
    tr !{r.divination("The Dreamer")}
    tr !{r.divination("The Dreamland")}
    tr !{r.divination("The Drunken Aristocrat")}
    tr !{r.divination("The Encroaching Darkness")}
    tr !{r.divination("The Endless Darkness")}
    tr !{r.divination("The Escape")}
    tr !{r.divination("The Eye of the Dragon")}
    tr !{r.divination("The Fathomless Depths")}
    tr !{r.divination("The Feast")}
    tr !{r.divination("The Fiend")}
    tr !{r.divination("The Fletcher")}
    tr !{r.divination("The Formless Sea")}
    tr !{r.divination("The Forsaken")}
    tr !{r.divination("The Garish Power")}
    tr !{r.divination("The Gentleman")}
    tr !{r.divination("The Gladiator")}
    tr !{r.divination("The Greatest Intentions")}
    tr !{r.divination("The Gulf")}
    tr !{r.divination("The Harvester")}
    tr !{r.divination("The Hermit")}
    tr !{r.divination("The Hive of Knowledge")}
    tr !{r.divination("The Hunger")}
    tr !{r.divination("The Incantation")}
    tr !{r.divination("The Insatiable")}
    tr !{r.divination("The King's Heart")}
    tr !{r.divination("The Landing")}
    tr !{r.divination("The Last One Standing")}
    tr !{r.divination("The Lich")}
    tr !{r.divination("The Life Thief")}
    tr !{r.divination("The Lion")}
    tr !{r.divination("The Long Watch")}
    tr !{r.divination("The Lunaris Priestess")}
    tr !{r.divination("The Master")}
    tr !{r.divination("The Mayor")}
    tr !{r.divination("The Mercenary")}
    tr !{r.divination("The Messenger")}
    tr !{r.divination("The Oath")}
    tr !{r.divination("The Offering")}
    tr !{r.divination("The One With All")}
    tr !{r.divination("The Pack Leader")}
    tr !{r.divination("The Pact")}
    tr !{r.divination("The Penitent")}
    tr !{r.divination("The Poet")}
    tr !{r.divination("The Polymath")}
    tr !{r.divination("The Price of Loyalty")}
    tr !{r.divination("The Primordial")}
    tr !{r.divination("The Professor")}
    tr !{r.divination("The Progeny of Lunaris")}
    tr !{r.divination("The Queen")}
    tr !{r.divination("The Risk")}
    tr !{r.divination("The Ruthless Ceinture")}
    tr !{r.divination("The Samurai's Eye")}
    tr !{r.divination("The Scarred Meadow")}
    tr !{r.divination("The Scavenger")}
    tr !{r.divination("The Siren")}
    tr !{r.divination("The Soul")}
    tr !{r.divination("The Spark and the Flame")}
    tr !{r.divination("The Standoff")}
    tr !{r.divination("The Stormcaller")}
    tr !{r.divination("The Strategist")}
    tr !{r.divination("The Sun")}
    tr !{r.divination("The Sustenance")}
    tr !{r.divination("The Sword King's Salute")}
    tr !{r.divination("The Thaumaturgist")}
    tr !{r.divination("The Throne")}
    tr !{r.divination("The Tower")}
    tr !{r.divination("The Traitor")}
    tr !{r.divination("The Twilight Moon")}
    tr !{r.divination("The Undaunted")}
    tr !{r.divination("The Unexpected Prize")}
    tr !{r.divination("The Valkyrie")}
    tr !{r.divination("The Vast")}
    tr !{r.divination("The Visionary")}
    tr !{r.divination("The Watcher")}
    tr !{r.divination("The Whiteout")}
    tr !{r.divination("The Wind")}
    tr !{r.divination("The Witch")}
    tr !{r.divination("The Wolf")}
    tr !{r.divination("The Wolf's Legacy")}
    tr !{r.divination("The Wolf's Shadow")}
    tr !{r.divination("The Wolven King's Bite")}
    tr !{r.divination("The Wolverine")}
    tr !{r.divination("The World Eater")}
    tr !{r.divination("The Wretched")}
    tr !{r.divination("Thirst for Knowledge")}
    tr !{r.divination("Thunderous Skies")}
    tr !{r.divination("Time-Lost Relic")}
    tr !{r.divination("Tranquillity")}
    tr !{r.divination("Treasure Hunter")}
    tr !{r.divination("Turn the Other Cheek")}
    tr !{r.divination("Unchained")}
    tr !{r.divination("Vanity")}


