h2#div4item Divination for Item
h3#div4essence Divination for Essence
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Harmony of Souls")}
    tr !{r.divination("The Cacophony")}
    tr !{r.divination("Three Voices")}
  
h3#div4gem Divination for Gem
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Deathly Designs")}
    tr !{r.divination("Dialla's Subjugation")}
    tr !{r.divination("Gemcutter's Promise")}
    tr !{r.divination("Gift of the Gemling Queen")}
    tr !{r.divination("The Cataclysm")}
    tr !{r.divination("The Cheater")}
    tr !{r.divination("The Fox")}
    tr !{r.divination("The Rite of Elements")}
    tr !{r.divination("The Summoner")}
    tr !{r.divination("The Wilted Rose")}
    
h3#div4influence Divination for Influenced Item
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("A Familiar Call")}
    tr !{r.divination("Dark Dreams")}
    tr !{r.divination("Nook's Crown")}
    tr !{r.divination("Perfection")}
    tr !{r.divination("Prometheus' Armoury")}
    tr !{r.divination("The Awakened")}
    tr !{r.divination("The Celestial Stone")}
    tr !{r.divination("The Hale Heart")}
    tr !{r.divination("The Lord of Celebration")}
    tr !{r.divination("The Undisputed")}
    tr !{r.divination("The White Knight")}
    tr !{r.divination("The World Eater")}

h3#div4jewel Divination for Jewel
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Azyran's Reward")}
    tr !{r.divination("Peaceful Moments")}
    tr !{r.divination("Shard of Fate")}
    tr !{r.divination("The Endurance")}
    tr !{r.divination("The Eye of the Dragon")}
    tr !{r.divination("The Garish Power")}
    tr !{r.divination("The Mountain")}
    tr !{r.divination("The Primordial")}
    tr !{r.divination("A Mother's Parting Gift")}
    tr !{r.divination("Turn the Other Cheek")}

h3#div4prophecy Divination for Prophecy
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("A Note in the Wind")}
    tr !{r.divination("Akil's Prophecy")}
    tr !{r.divination("Beauty Through Death")}
    tr !{r.divination("Friendship")}
    tr !{r.divination("Immortal Resolve")}
    tr !{r.divination("The Iron Bard")}
    tr !{r.divination("The Jeweller's Boon")}
    tr !{r.divination("The Mad King")}
    tr !{r.divination("The Side Quest")}
    tr !{r.divination("The Valley of Steel Boxes")}
    tr !{r.divination("Vile Power")}

h3#div4implicit Divination for Two-Implicit Unique Item
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("Arrogance of the Vaal")}
    tr !{r.divination("Echoes of Love")}
    tr !{r.divination("Etched in Blood")}
    tr !{r.divination("Gift of Asenath")}
    tr !{r.divination("The Demon")}
    tr !{r.divination("The Greatest Intentions")}
    tr !{r.divination("The Hive of Knowledge")}
    tr !{r.divination("The Price of Loyalty")}
    tr !{r.divination("The Sustenance")}


h3#div4unique Divination for Unique Item
table
  thead
    tr
      th Card
      th.right Number
      th.price Cost
  tbody
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
    tr !{r.divination("")}
