html
  head
    title Worth PoE
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/nav-bar.css')
    link(rel='stylesheet', href='/css/divination.css')
  body
    div.nav-bar
      a(href='/challenge', class=league === 'challenge' ? 'active' : '') Challenge
      a(href='/challengehc', class=league === 'challengehc' ? 'active' : '') Challenge Hardcore
      a(href='/standard', class=league === 'standard' ? 'active' : '') Standard
      a(href='/hardcore', class=league === 'hardcore' ? 'active' : '') Hardcore
      div#search-wrap
        span.material-icons search
        input#search(placeholder='Search', value=search || '')
      a(href='https://github.com/FrancoisMentec/worth-poe', class="github")
        <svg class="octicon octicon-mark-github v-align-middle" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true" fill="white"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
        | GitHub
    
    div#content
      h1 Worth PoE
      p 
        | This is a website to check what is the most profitable choice in a given situation (e.g. Apex of Ascension), or the less expensive (e.g. a challenge).
        | Prices are fetched from 
        a(href='https://poe.ninja/') poe.ninja
        |  every #{fetchInterval / (60 * 1000)} minutes.
        | This website isn't affiliated with either poe.ninja nor GGG.
        | If you want to report a bug/error, or request a feature I invite you to 
        a(href='https://github.com/FrancoisMentec/worth-poe/issues/new') submit a new issue
        |  on GitHub (make sure a similar issue haven't been submitted yet).
      
      h1 Apex of Ascension
      table
        thead
          tr
            th Vial
            th Item
            th Result
            th.price Profit
        tbody
          tr !{r.recipe(["Vial of Awakening", "Apep's Slumber"], ["Apep's Supremacy"])}
          tr !{r.recipe(["Vial of Consequence", "Coward's Chains"], ["Coward's Legacy"])}
          tr !{r.recipe(["Vial of Dominance", "Architect's Hand"], ["Slavedriver's Hand"])}
          tr !{r.recipe(["Vial of Fate", "Story of the Vaal"], ["Fate of the Vaal"])}
          tr !{r.recipe(["Vial of Summoning", "Mask of the Spirit Drinker"], ["Mask of the Stitched Demon"])}
          tr !{r.recipe(["Vial of the Ritual", "Dance of the Offered"], ["Omeyocan"])}
          tr !{r.recipe(["Vial of Transcendence", "Tempered Flesh"], ["Transcendent Flesh"])}
          tr !{r.recipe(["Vial of Transcendence", "Tempered Spirit"], ["Transcendent Spirit"])}
          tr !{r.recipe(["Vial of Transcendence", "Tempered Mind"], ["Transcendent Mind"])}
          tr !{r.recipe(["Vial of Sacrifice", "Sacrificial Heart"], ["Zerphi's Heart"])}
          tr !{r.recipe(["Vial of the Ghost", "Soul Catcher"], ["Soul Ripper"])}
      
      h1 Challenges
      h2 Divination for Item
      h3 Divination for Essence
      table
        thead
          tr
            th Card
            th.right Number
            th.price Cost
        tbody
          tr !{r.divination("Harmony of Souls")}
          tr !{r.divination("The Cacophony")}
          tr !{r.divination("Three Voices")}
        
      h3 Divination for Gem
      table
        thead
          tr
            th Card
            th.right Number
            th.price Cost
        tbody
          tr !{r.divination("Deathly Designs")}
          tr !{r.divination("Dialla's Subjugation")}
          tr !{r.divination("Gemcutter's Promise")}
          tr !{r.divination("Gift of the Gemling Queen")}
          tr !{r.divination("The Cataclysm")}
          tr !{r.divination("The Cheater")}
          tr !{r.divination("The Fox")}
          tr !{r.divination("The Rite of Elements")}
          tr !{r.divination("The Summoner")}
          tr !{r.divination("The Wilted Rose")}
          
      h3 Divination for Influenced Item
      table
        thead
          tr
            th Card
            th.right Number
            th.price Cost
        tbody
          tr !{r.divination("A Familiar Call")}
          tr !{r.divination("Dark Dreams")}
          tr !{r.divination("Nook's Crown")}
          tr !{r.divination("Perfection")}
          tr !{r.divination("Prometheus' Armoury")}
          tr !{r.divination("The Awakened")}
          tr !{r.divination("The Celestial Stone")}
          tr !{r.divination("The Hale Heart")}
          tr !{r.divination("The Lord of Celebration")}
          tr !{r.divination("The Undisputed")}
          tr !{r.divination("The White Knight")}
      
      h3 Divination for Jewel
      table
        thead
          tr
            th Card
            th.right Number
            th.price Cost
        tbody
          tr !{r.divination("Azyran's Reward")}
          tr !{r.divination("Peaceful Moments")}
          tr !{r.divination("Shard of Fate")}
          tr !{r.divination("The Endurance")}
          tr !{r.divination("The Eye of the Dragon")}
          tr !{r.divination("The Garish Power")}
          tr !{r.divination("The Mountain")}
          tr !{r.divination("The Primordial")}
      
      h3 Divination for Prophecy
      table
        thead
          tr
            th Card
            th.right Number
            th.price Cost
        tbody
          tr !{r.divination("A Note in the Wind")}
          tr !{r.divination("Akil's Prophecy")}
          tr !{r.divination("Beauty Through Death")}
          tr !{r.divination("Friendship")}
          tr !{r.divination("Immortal Resolve")}
          tr !{r.divination("The Iron Bard")}
          tr !{r.divination("The Jeweller's Boon")}
          tr !{r.divination("The Mad King")}
          tr !{r.divination("The Side Quest")}
          tr !{r.divination("The Valley of Steel Boxes")}
      
      h3 Divination for Two-Implicit Unique Item
      table
        thead
          tr
            th Card
            th.right Number
            th.price Cost
        tbody
          tr !{r.divination("Arrogance of the Vaal")}
          tr !{r.divination("Echoes of Love")}
          tr !{r.divination("Etched in Blood")}
          tr !{r.divination("Gift of Asenath")}
          tr !{r.divination("The Demon")}
          tr !{r.divination("The Greatest Intentions")}
          tr !{r.divination("The Hive of Knowledge")}
          tr !{r.divination("The Price of Loyalty")}
          tr !{r.divination("The Sustenance")}
          
      h2 Upgrade Unique Items
      h3 Fated Prophecy
      table
        thead
          tr
            th Prophecy
            th Item
            th.price Cost
            th Result
            th.price Profit
        tbody
          include fatedItems.pug
          
    footer Made with 
      span.material-icons favorite
      |  by 
      a(href="https://github.com/FrancoisMentec") François Mentec
      | , find the code on 
      a(href='https://github.com/FrancoisMentec/worth-poe') GitHub
  script(src='/js/main.js')
  script(src='/js/itemPreview.js')
  if search != null
    script search('!{search}')
